@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family:"Poppins", sans-serif;
  }

  body,
  #root {
    @apply text-neutral-900 grid grid-rows-[auto_1fr_auto] min-h-screen bg-neutral-100;
  }

  h1 {
    @apply text-3xl font-bold;
  }

  h2 {
    @apply text-2xl font-bold;
  }

  h3 {
    @apply text-xl font-bold;
  }

  a,
  input,
  label {
    @apply outline-transparent;
  }
}

@layer components {
  .link {
    @apply hover:text-primary focus-visible:text-primary duration-500 transition-colors;
  }

  .active {
    @apply text-primary;
  }

  .btn {
    @apply text-center px-3 py-2 border-2 rounded-2xl hover:bg-primary-200 focus-visible:bg-primary-200 focus-visible:outline-none transition-colors duration-500 disabled:opacity-70 disabled:pointer-events-none;
  }

  .btn-primary {
    @apply text-neutral-200 bg-primary border-primary hover:border-primary-200 hover:bg-primary-200 focus-visible:border-primary-200;
  }

  .btn-outline {
    @apply text-primary border-primary bg-transparent hover:text-neutral-200 focus-visible:text-neutral-200 hover:border-primary-200 focus-visible:border-primary-200;
  }

  .social-icon {
    @apply w-[28px] h-[28px] fill-primary transition-colors hover:fill-primary-200 focus-visible:fill-primary-200;
  }

  .form-input {
    @apply w-full relative px-4 py-2 border-2 rounded-xl focus-visible:border-primary-200 focus-visible:border-2 transition-colors duration-300;
  }

  .error {
    @apply text-accent opacity-0 translate-x-10 duration-300 transition-all;
  }

  .error.error--aktivan {
    @apply opacity-100 translate-x-0;
  }
}

@layer utilities {
  .container {
    width: min(1140px, 95%);
  }

  .container-form {
    width: min(640px, 95%);
  }

  .container-form-mini {
    width :min(440px, 95%);
  }
}